.App {
  font-family: 'poppins';
  font-weight: 600;
  text-align: center;
  height: 100vh;
}

.link-container {
  padding-left: 150px;
  margin-top: 15vh;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.link-container a {
  font-weight: 400;
  color: black;
  margin-right: 5px;
  text-decoration: underline;
}

.link-container span {
  margin: 0 5px;
}
